@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@layer base {
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  #root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  /* Fix for <select> options text color in Dark/Light Mode */
  option {
    background-color: #ffffff;
    color: #111827;
  }

  :is(.dark) option,
  .dark option {
    background-color: #1f2937;
    color: #ffffff;
  }
}

@media print {
  /* Ẩn tất cả, chỉ hiện nội dung trong <main> */
  body * {
    visibility: hidden;
  }

  main,
  main * {
    visibility: visible;
  }

  main {
    position: absolute;
    inset: 0;
    width: 100%;
    height: auto;
    padding: 24px;
    overflow: visible;
  }

  @page {
    margin: 1cm;
  }
}

